<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  <div class="container my-5">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb p-3 bg-body-tertiary rounded-3">
        <li class="breadcrumb-item">
          <a class="link-body-emphasis" href="#">
            <svg class="bi" width="16" height="16"><use xlink:href="#house-door-fill"></use></svg>
            <a class="visually-hidden" href="{% url 'home' %}"><span class="material-symbols-outlined">
              home
              </span></a>
          </a>
        </li>
        <li class="breadcrumb-item">
          <a class="link-body-emphasis fw-semibold text-decoration-none" href="{% url 'create_user' %}">create user</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          <a class="link-body-emphasis fw-semibold text-decoration-none" href="{% url 'create_task' %}">
          create task
          </a>
        </li>
      </ol>
    </nav>
  </div>